<!-- /snippets/collection-product.liquid -->

{% unless column_width %}
 {% assign column_width = 'column l3 m6 s12' %}
{% endunless %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="{{column_width}} product-block {% if sold_out %} sold_out {% endif %} {% if on_sale %} on_sale {% endif %}">

  <a class="image" href="{{ product.url | within: collection }}" style="background: url({{ product.featured_image.src | img_url: 'master' }});
    background-position: 50% 50%;
    background-size: cover;">

    <p>
      {%- if sold_out -%}
        <strong>Sold Out!</strong>
      {%- else -%}
        {%- for variant in product.variants -%}
          {%- if forloop.length > 1 -%}
            {%- if variant.title == 'Original' -%}
              {{ variant.price | money }}/Yard
            {%- endif -%}
          {%- else -%}
            {{ product.price | money }}/Yard
          {%- endif -%}
        {%- endfor -%}

      {%- endif -%}

    </p>

  </a>

  <a class="product-title" href="{{ product.url | within: collection }}">
    <p>{{ product.title }}</p>
  </a>

</div>
