{% if childlink.links != empty %}
	<div class="dropdown-window">

		{% for grandchild in childlink.links %}
			<ul class="section {{ grandchild.handle }}" >
				{% if grandchild.links != empty %}
					<li class="title">{{ grandchild.title }}</li>

					{% for greatgrandchild in grandchild.links %}
						<li class="dropdown-item {% if greatgrandchild.active %}active{% else %}inactive{% endif %}">
							{{ greatgrandchild.title | link_to: greatgrandchild.url }}
						</li>
					{% endfor %}

				{% else %}
					<li class="dropdown-item {% if grandchild.active %}active{% else %}inactive{% endif %}">{{ grandchild.title | link_to: grandchild.url }}</li>
				{% endif %}

			</ul>
		{% endfor %}
	</div>
{% endif %}

{% comment %}
{% if grandchild.handle == 'shop-by-color' %}
	<i class="fa fa-circle"
		 aria-hidden="true"
		 style="color:{{greatgrandchild.title}}"></i>
{% endif %}
{% endcomment %}