<!-- /templates/article.liquid -->

<section class="article-page">
  <div class="container l">
    <div class="row">

      <div class="column l6 m6 s12">

        <article class="article">
          <h1 class="title">{{ article.title }}</h1>
          {% include 'social-sharing' %}

          <div class="body" itemprop="articleBody">
            {{ article.content }}
          </div>

          <div class="action">
            <a href="{{ section.settings.btn_url }}" class="btn primary-btn">{{ section.settings.btn_text }}</a>
          </div>
        </article>

      </div> <!-- col l6 m6 s12 -->
      <div class="column l6 m6 s12">
        <div class="featured-img">
          {% if article.image %}
            <img src="{{ article.image | img_url:'master' }}" alt="">
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Get Inspired Article",
  "settings": [
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Get a Custom Quote"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}