<!-- /sections/collection.liquid -->

{% assign view = '48' %}
{% paginate collection.products by 48 %}

{% assign column_width = 'column l3 m4 s12' %}
<style>
  .banner {
    background: #fff;
    background-size: cover;
    background-position: 50% 50%;
  }
</style>
<section class="collections-page" data-section-type="collection">
  <div class="container l">
    <div class="banner">
      {% if collection.image %}
        <div class="img-container">
          <img src="{{ collection.image | img_url:'master' }}" alt="{{ collection.image.alt }}">
        </div>
      {% else %}
        <h1>{{ collection.title }}</h1>
      {% endif %}
    </div>
    <div class="row">
      <div class="column l3 m3 s12">
        {% include 'sidebar' %}
        {% include 'price-quote-form' %}
      </div>
      <div class="column l9 m9 s12">

        <div class="actions">
          <div class="search">
            <form class="search" action="/search">
              <input type="hidden" name="type" value="product" />
              <input type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"  />
              <button class="fa fa-search" type="submit" />
            </form>
          </div>
          <div class="sort">
            {% include 'sort-options' %}
          </div>
          <div class="view-opts">
            {% include 'collection-view' %}
          </div>
        </div>

        <div class="collection-products">
          <div class="row">
            {% for product in collection.products %}
              {% include 'collection-product' %}
            {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}
                {% unless emptyState %}
                  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                  {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}
              {% else %}
                <div class="column l12 m12 s12 empty-collection">
                  <p class="lead">{{ collection.description }}</p>
                  <div class="btns">
                    <a class="btn secondary-btn" href="{{ section.settings.btn_1_url }}">{{ section.settings.btn_1 }}</a>
                    <a class="btn secondary-btn" href="{{ section.settings.btn_2_url }}">{{ section.settings.btn_2 }}</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if paginate.pages > 1 %}
          <div class="container l">
            <div class="pagination">
              {{ paginate | default_pagination }}
            </div>
          </div>
        {% endif %}

        {% endpaginate %}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">

  var collection_tags = [];
  {%- for tag in collection.all_tags -%}
    {%- if tag contains 'color_' or 'item-type_' or 'collection_' or 'style_' or 'suggested-use_' or 'brand_' -%}
      {% assign collection_tag = tag %}
      collection_tags.push("{{ collection_tag | handleize }}");
    {%- endif -%}
  {%- endfor -%}

  var search = document.querySelector('form.search');
  search.addEventListener('submit', function(e) {
    e.preventDefault();

    var input = document.getElementById("inputVal").value;
    var url = window.location.href;
    if (url.endsWith('/')) {
      url = url.slice(0, -1);
      url += '/';
    } else if (url.endsWith('+')) {

    } else {
      url += '/';
    }

    for (var i = 0; i < collection_tags.length; i++) {
      if (collection_tags[i].indexOf(input) !== -1) {
        if (collection_tags[i].indexOf('color') !== -1) {
          url += 'color_'+input+'+';
          console.log(collection_tags[i]);
        }
        if (collection_tags[i].indexOf('item-type_') !== -1) {
          url += 'item-type_'+input+'+';
          console.log(collection_tags[i]);
        }
        if (collection_tags[i].indexOf('collection_') !== -1) {
          url += 'collection_'+input+'+';
          console.log(collection_tags[i]);
        }
        if (collection_tags[i].indexOf('style_') !== -1) {
          url += 'style_'+input+'+';
          console.log(collection_tags[i]);
        }
        if (collection_tags[i].indexOf('suggested-use_') !== -1) {
          url += 'suggested-use_'+input+'+';
          console.log(collection_tags[i]);
        }
        if (collection_tags[i].indexOf('brand_') !== -1) {
          url += 'brand_'+input+'+';
          console.log(collection_tags[i]);
        }
        break;
      }
    }
    window.location.href = url;
  });
</script>
{% schema %}
  {
    "name": "Collections",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Title Block Background"
      }
    ]
  }
{% endschema %}
