{% assign set = section.settings %}
{% capture alignment %}
	{% if set.main_alignment == 'left' %}
		align-left
	{% elsif set.main_alignment == 'center' %}
		align-center
	{% elsif set.main_alignment == 'right' %}
		align-right
	{% endif %}
{% endcapture %}

<style>
	.banner {
		background: url({{ set.banner_img | img_url:'master' }});
		background-size: cover;
		background-position: 50% 50%;
	}
</style>

<section class="local-decorator">
	<div class="container l">
		<div class="banner">
			<div class="text-container {{ alignment }}">
				<h1 class="title">{{ set.banner_text }}</h1>		
			</div>		
		</div>
		<div class="body-content">
			<h1 class="body-heading">{{ set.body_heading }}</h1>
			<p class="body-lead">{{ set.body_lead }}</p>
		</div>
		<div class="local-dec-contact">
			<div class="stores">
				{% for block in section.blocks %}
					{% assign settings = block.settings %}
					
					<ul class="states">
						<li class="main">{{ settings.state_id }}</li>
						
						{% if settings.store_1 != empty %}
							<li><a href="{{settings.store_1_url}}" target="_blank">{{ settings.store_1 }}</a></li>
						{% endif %}
						{% if settings.store_2 != empty %}
							<li><a href="{{settings.store_2_url}}" target="_blank">{{ settings.store_2 }}</a></li>
						{% endif %}
						{% if settings.store_3 != empty %}
							<li><a href="{{settings.store_3_url}}" target="_blank">{{ settings.store_3 }}</a></li>
						{% endif %}
						{% if settings.store_4 != empty %}
							<li><a href="{{settings.store_4_url}}" target="_blank">{{ settings.store_4 }}</a></li>
						{% endif %}
						{% if settings.store_5 != empty %}
							<li><a href="{{settings.store_5_url}}" target="_blank">{{ settings.store_5 }}</a></li>
						{% endif %}
					</ul>
				{% endfor %}
			</div>
			<div class="contact-form">

				<p class="lead">{{ set.form_paragraph }}</p>
				{% form 'contact' %}

					{% if form.posted_successfully? %}
						<p class="note form-success">
							{{ set.form_success }}
						</p>
					{% endif %}

					{{ form.errors | default_errors }}

					{% assign name_attr = 'contact.form.name' | t | handleize %}
          <label for="ContactFormName" class="clearfix">{{ 'form.name' | t }}</label>
          <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="ContactFormEmail" class="clearfix">{{ 'form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          {% assign name_attr = 'form.phone' | t | handleize %}
          <label for="ContactFormPhone" class="clearfix">{{ 'form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          {% assign name_attr = 'form.decorator' | t | handleize %}
          <label for="ContactFromDecorator" class="clearfix">{{ 'form.decorator' | t }}</label>
					<input type="text" id="ContactFromDecorator" name="contact[{{ name_attr }}]" placeholder="State" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.customer_address.province }}{% endif %}">


					<button class="btn primary-btn" type="submit">Submit Request</button>
				{% endform %}

			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Local Decorator",
	"max_blocks": 50,
	"settings": [
		{
			"type": "header",
			"content": "Main Banner"
		},
		{
			"type": "select",
			"id": "main_alignment",
			"label": "Text Alignment",
			"options": [
				{ "value": "left", "label": "Left" },
				{ "value": "center", "label": "Centered" },
				{ "value": "right", "label": "Right" }
			]
		},
		{
			"type": "text",
			"id": "banner_text",
			"label": "Banner Heading"
		},
		{
			"type": "image_picker",
			"id": "banner_img",
			"label": "Banner Image"
		},
		{
			"type": "header",
			"content": "Body"
		},
		{
			"type": "text",
			"id": "body_heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "body_lead",
			"label": "Paragraph"
		},
		{
			"type": "textarea",
			"id": "form_paragraph",
			"label": "Form Paragraph"
		},
		{
			"type": "text",
			"id": "form_success",
			"label": "Message after submitting a form",
			"default": "Thank you for submitting! We will contact you shortly"
		}
	],
	"blocks": [
		{
			"type": "state",
			"name": "State",
			"settings": [
				{
					"type": "text",
					"id": "state_id",
					"label": "State"
				},
				{
					"type": "header",
					"content": "Store #1"
				},
				{
					"type": "text",
					"id": "store_1",
					"label": "Store Name"
				},
				{
					"type": "url",
					"id": "store_1_url",
					"label": "Store Website"
				},
				{
					"type": "header",
					"content": "Store #2"
				},
				{
					"type": "text",
					"id": "store_2",
					"label": "Store Name"
				},
				{
					"type": "url",
					"id": "store_2_url",
					"label": "Store Website"
				},
				{
					"type": "header",
					"content": "Store #3"
				},
				{
					"type": "text",
					"id": "store_3",
					"label": "Store Name"
				},
				{
					"type": "url",
					"id": "store_3_url",
					"label": "Store Website"
				},
				{
					"type": "header",
					"content": "Store #4"
				},
				{
					"type": "text",
					"id": "store_4",
					"label": "Store Name"
				},
				{
					"type": "url",
					"id": "store_4_url",
					"label": "Store Website"
				},
				{
					"type": "header",
					"content": "Store #5"
				},
				{
					"type": "text",
					"id": "store_5",
					"label": "Store Name"
				},
				{
					"type": "url",
					"id": "store_5_url",
					"label": "Store Website"
				}
			]
		}
	]
}
{% endschema %}