<section class="drapery-hardware">
  <div class="container l">
    <div class="banner">
      <h1>{{ page_title }}</h1>
    </div>
    <div class="row">
      <div class="column l5 m5 s12">
        <h3 class="heading">Drapery Hardware Catalog</h3>
        <p class="lead">{{ section.settings.lead }}</p>
      </div>
      <div class="column l7 m7 s12">
        {% form 'contact' %}
          <input type="hidden" value="Drapery Hardware Form" id="ContactFormDrapery"></input>

          <input type="text" name="contact[name]" placeholder="Name" id="ContactFormName">

          <input type="email" name="contact[email]" placeholder="Email" id="ContactFormEmail">

          <textarea name="contact[comment]" placeholder="Comment" id="ContactFormComment"></textarea>

          <button type="submit" name="contact[submit]" class="btn primary-btn">Send Us a Message</button>
        {% endform  %}
      </div>
    </div>
    <div class="catalog-section">
      {%- for block in section.blocks -%}
        <div class="catalog-block">
          <div class="inner">
            <a href="{{ block.settings.catalog_link }}">
              <img src="{{ block.settings.catalog_img | img_url:'master' }}" alt="{{ block.settings.catalog_img }}">
              <p>View Catalog</p>
            </a>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Drapery Hardware",
  "max_blocks": 20,
  "settings": [
    {
      "type": "textarea",
      "id": "lead",
      "label": "Lead",
      "default": "Please check out our catlogs below and if you see something that interest you, please contact us using the form below with the catalog name, page number and item number."
    }
  ],
  "blocks": [
    {
      "type": "catalog-block",
      "name": "Catalog",
      "settings": [
        {
          "type": "image_picker",
          "id": "catalog_img",
          "label": "Featured Image"
        },
        {
          "type": "url",
          "id": "catalog_link",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
