{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<section class="product-template">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="container l" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="true">

    <div class="crumbs">
      {% include 'theme-breadcrumbs' %}
    </div>
    
    <div class="row">
      <div class="column l6 m6 s12">

        <div class="title l-hide m-hide">
          <h1 itemprop="name">{{ product.title }}</h1>
          {% if section.settings.show_vendor %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}
          <div class="mobile-share">
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          </div>
        </div>

        <div class="img-container" id="ProductImages">
          {% for image in product.images %}
            <img src="{{ image.src | img_url: 'master' }}"{% if image.alt %} alt="{{ image.alt }}"{% endif %}>
          {% endfor %}
        </div>

        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}

        {% if product.images.size > 1 %}
          <div id="ProductThumbs">
            {% for image in product.images %}
              <div class="image-thumbs">
                <img src="{{ image.src | img_url: '1024x1024' }}"{% if image.alt %} alt="{{ image.alt }}"{% endif %}>
              </div>
            {% endfor %}
          </div>
        {% endif %}

      </div>
      <div class="column l6 m6 s12">

        <div class="title s-hide">
          <h1 itemprop="name">{{ product.title }}</h1>
          {% if section.settings.show_vendor %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}
        </div>

        <p id="ProductPrice" class="product-price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          Price: {{ current_variant.price | times: 2 | money }}/Yard
        </p>

        {% comment %}<p class="product-msrp product-{{ section.id }}{% unless current_variant.available %} product-price-sold-out{% endunless %}">
          MSRP: {{ product.price_max | times: 2 | money }}/Yard
        </p>{% endcomment %}

        {% assign hasFull = false %}
        {% assign hasSample = false %}
        {% for variant in product.variants %}
          {%if variant.title contains "Full" or "Default" %}
            {% assign hasFull = true %}
            {%endif %}
          {% if variant.title contains "Sample" %}
            {% assign hasSample = true %}
            {% assign sampleId = variant.id %}
          {% endif %}
        {% endfor%}

        {% if hasFull == true %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              
            <select id="variantOptions" name="id" style="display:none">
              {% for variant in product.variants %}
                {% unless variant.title contains 'Sample' %}
                  <option value="{{ variant.id }}">{{ variant.price | times: 2 | money }} /Yard</option>
                
                {% endunless %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">Yards</label>
                <input type="number" step="0.5" value="1" id="Quantity" name="quantity" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}

            {% if sold_out %}
              <button type="submit" name="add" disabled>
                <span id="AddToCartText">{{ 'product.sold_out' | t }}</span>
              </button>
            {% else %}
              <button type="submit" class="btn primary-btn" id="buy">
                {{ 'product.add_to_cart' | t }}
              </button>
            {% endif %}
          </form>
        {%endif%}

        {%if hasSample %}
          <div class="button-container">
            <button class="btn sample-btn" type="button" id="orderSample">Order Sample</button>
          </div>
        {% endif %}

        {% for tag in product.tags %}
          {% if tag contains 'brand' %}
            {% assign brand = tag | split: '_'%}
            {% assign brand_exists = true %}
          {% elsif tag contains 'book'%}
            {% assign book = tag | split: '_' %}
            {% assign book_name_exists = true %}
          {% elsif tag contains 'pattern-name'%}
            {% assign pattern_name = tag| split: '_' %}
            {% assign pattern_name_exists = true %}
          {% elsif tag contains 'pattern-number' %}
            {% assign pattern_number = tag | split: '_' %}
            {% assign pattern_number_exists = true %}
          {% elsif tag contains 'style' %}
            {% assign style = tag | split: '_' %}
            {% assign style_exists = true %}
          {% elsif tag contains 'color_' %}
            {%if tag contains 'menu'%}
            {%else%}
              {% assign color = tag | split: '_' %}
              {% assign color_exists = true %}
            {%endif%}
          {% elsif tag contains 'color-number' %}
            {% assign color_number = tag | split: '_' %}
            {% assign color_number_exists = true %}
          {% elsif tag contains 'content_' %}
            {% assign content = tag | split: '_' %}
            {% assign content_exists = true %}
          {% elsif tag contains 'width' %}
            {% assign width = tag | split: '_' %} 
            {% assign width_exists = true %}
          {% elsif tag contains 'vertical' %}
            {% assign vertical = tag | split: '_' %}
            {% assign vertical_exists = true %}
          {% elsif tag contains 'horizontal' %}
            {% assign horizontal = tag | split: '_' %}  
            {% assign horizontal_exists = true %}
          {% elsif tag contains 'suggested' %}
            {% assign suggested = tag | split: '_' %}
            {% assign suggested_exists = true %}
          {% elsif tag contains 'durability' %}
            {% assign durability = tag | split: '_' %}
            {% assign durability_exists = true %}
          {% elsif tag contains 'item-type' %}
            {% assign item = tag | split: '_' %}    
            {% assign item_exists = true %}
          {% elsif tag contains 'unit' %}
            {% assign unit = tag | split: '_' %}
            {% assign unit_exists = true %}
          {% elsif tag contains 'origin' %}
            {% assign origin = tag | split: '_' %}    
            {% assign origin_exists = true %}
          {% elsif tag contains 'collection' %}
            {% assign collection = tag | split: '_' %}    
            {% assign collection_exists = true %}
          {% endif %}
        {% endfor %}
             
        <div class="product-description-tags">
          {% if brand_exists %}
            <p><strong>{{brand[0]}}:</strong> {{brand[1]}}</p>
          {% endif %}
          {% if pattern_name_exists %}          
            <p><strong>{{pattern_name[0] | replace: '-', ' '}}:</strong> {{pattern_name[1]}}</p>
          {% endif %}
          {% if pattern_number_exists %}
            <p><strong>{{pattern_number[0] | replace: '-', ' '}}:</strong> {{pattern_number[1]}}</p>
          {% endif %}
          {% if style_exists %}
            <p><strong>{{style[0]}}:</strong> {{style[1]}}</p>
          {% endif %}
          {% if color_exists %}
            <p><strong>{{color[0] | replace: '-', ' '}}:</strong> {{color[1]}}</p>  
          {% endif %}
          {% if color_number_exists %}
            <p><strong>{{color_number[0] | replace: '-', ' '}}:</strong> {{color_number[1]}}</p>  
          {% endif %}
          {% if content_exists %}  
            <p><strong>{{content[0]}}:</strong> {{content[1]}}</p> 
          {% endif %}
          {% if width_exists %}
            <p><strong>{{width[0]}}:</strong> {{width[1] | replace: '-', ''}}</p>    
          {% endif %}
          {% if vertical_exists %}
            <p><strong>{{vertical[0] | replace: '-', ' '}}:</strong> {{vertical[1] | replace: '-', ''}}</p>
          {% endif %}
          {% if horizontal_exists %}
            <p><strong>{{horizontal[0] | replace: '-', ' '}}:</strong>{{horizontal[1] | replace: '-', ''}}</p>
          {% endif %}
          {% if suggested_exists %}
            <p><strong>{{suggested[0] | replace: '-', ' '}}:</strong> {{suggested[1] | replace: '-', ' '}}</p>
          {% endif %}
          {% if durability_exists %}
            <p><strong>{{durability[0] | replace: '-', ' '}}:</strong> {{durability[1] | replace: '-', ' '}}</p>
          {% endif %}
          {% if item_exists %}
            <p><strong>{{item[0] | replace: '-', ' '}}:</strong> {{item[1]}}</p>     
          {% endif %}
          {% if unit_exists %}
            <p><strong>{{unit[0] | replace: '-', ' '}}:</strong> {{unit[1] | replace: '-', ' '}}</p>
          {% endif %}
          {% if origin_exists %}
            <p><strong>{{origin[0]}}:</strong> {{origin[1]}}</p>
          {% endif %}
          {% if collection_exists %}
            <p><strong>{{collection[0]}}:</strong> {{collection[1] | replace: '-', ' '}}</p>
          {% endif %}
        </div>
        <div class="description">
          {% if product.description != empty %}
            <span>Description: </span>
            <p class="truncate">{{ product.description }}</p>
            {% include 'icon' with 'chevron-down' %}
          {% endif %}
        </div>

      </div>

      <div class="column l6 m6 s12">
        <div class="yardage-chart">
          <p>Yardage Chart</p> 
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="column l6 m6 s12">
        <div class="measure-chart">
          <p>How to Measure</p>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </div>
      </div>
    </div> <!--row-->
  </div>
</section>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script>
  $(document).ready(function() {

    $('#Quantity').on('change', function() {
      var currentQuantity = $(this).val();
      $(this).val(Math.round(currentQuantity*2)/2);
    });

    $('#buy').click(function(e){
      e.preventDefault();
      var yards = $('#Quantity').val();
      var quantity =  yards * 2;
      var variantId = $('#variantOptions').val();

      CartJS.addItem(variantId, quantity, {
        "Length": yards + ' Yards'
      },
      {
        "success": function(data, textStatus, jqXHR) {
          window.location.href = '/cart';
        },
        "error": function(jqXHR, textStatus, errorThrown) {
          alert('Error: '+ errorThrown + '!');
        }
      });
    });

    $('#orderSample').click(function(){
      CartJS.addItem(parseInt('{{sampleId}}'), 1, {
         "Quantity":1
      }, {
          "success": function(data, textStatus, jqXHR) {
              window.location.href = '/cart';
          },
          "error": function(jqXHR, textStatus, errorThrown) {
              alert('Error: ' + errorThrown + '!');
          }
      });        
    });
  });
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
